body,
* {
  --background-color: #f7f7f7;
  --border-color: #dddddd;
  --disabled-color: #d4d4d4;
  --container-padding: 6px 20px;
  --hover-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  --main-color: rgb(34, 34, 34);

  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  box-sizing: border-box;
}

.Button {
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  outline: none;
  margin: 0;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1em;
  transition: color border-color 0.15s ease-in-out;
  transition: box-shadow 0.2s ease 0s !important;
  cursor: pointer;

  &:hover {
    color: black;
    border-color: black;
  }

  &:focus {
    box-shadow: rgb(255 255 255) 0px 0px 0px 2px, rgb(34 34 34) 0px 0px 0px 4px;
  }
}

.disabled {
  background-color: var(--disabled-color);
  opacity: 0.7;
  cursor: not-allowed;

  &:hover {
    color: var(--main-color);
    border-color: rgb(221, 221, 221);
  }
}
